doctype html
html
    head
        meta(charset="UTF-8")
        title RENTAL SERVICE |
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style/overview.css")
    body
        div.header
            div.header__left
                a.nav__element.home(href="#") RENTAL
                form(action="" style="display: inline;")
                    input(type="text" name="location" placeholder="Search..")
            div.header__right
                a.nav__element.user(href="#") SIGN UP
                a.nav__element.user(href="#") LOG IN
                a.nav__element.user(href="#") Post your rental
        .left
            h2 FILTER
            form(action="")
                label(for="min_range") PRICE
                div
                    input(type="Number" id="min_range" name="min_range")
                div
                    input(type="Number" id="max_range" name="max_range")
        div.right
            div.card__container
                div.card__picture
                    div.picture
                        img(src="img/rentals/rental-5ed45963b3ab3969b863f64d-1.jpeg", alt="Photo")
                div
                    div.details.location_area
                        h3.first.location Rajshahi, kajla
                        h3.second.squar 3000 sqft
                    div.details.rooms
                        h3.first.living 3 Room
                        h3.second.bathroom 2 Bathroom
                    h3 1 Parking
                div.card__footer
                    h3 5000 Taka
                    a(href="#") Details
            div.card__container
                div.card__picture
                    div.picture
                        img(src="img/rentals/rental-5ed45963b3ab3969b863f64d-1.jpeg", alt="Photo")
                div
                    div.details.location_area
                        h3.first.location Rajshahi, kajla
                        h3.second.squar 3000 sqft
                    div.details.rooms
                        h3.first.living 3 Room
                        h3.second.bathroom 2 Bathroom
                    h3 1 Parking
                div.card__footer
                    h3 5000 Taka
                    a(href="#") Details
            div.card__container
                div.card__picture
                    div.picture
                        img(src="img/rentals/rental-5ed45963b3ab3969b863f64d-1.jpeg", alt="Photo")
                div
                    div.details.location_area
                        h3.first.location Rajshahi, kajla
                        h3.second.squar 3000 sqft
                    div.details.rooms
                        h3.first.living 3 Room
                        h3.second.bathroom 2 Bathroom
                    h3 1 Parking
                div.card__footer
                    h3 5000 Taka
                    a(href="#") Details
            div.card__container
                div.card__picture
                    div.picture
                        img(src="img/rentals/rental-5ed45963b3ab3969b863f64d-1.jpeg", alt="Photo")
                div
                    div.details.location_area
                        h3.first.location Rajshahi, kajla
                        h3.second.squar 3000 sqft
                    div.details.rooms
                        h3.first.living 3 Room
                        h3.second.bathroom 2 Bathroom
                    h3 1 Parking
                div.card__footer
                    h3 5000 Taka
                    a(href="#") Details
            div.card__container
                div.card__picture
                    div.picture
                        img(src="img/rentals/rental-5ed45963b3ab3969b863f64d-1.jpeg", alt="Photo")
                div
                    div.details.location_area
                        h3.first.location Rajshahi, kajla
                        h3.second.squar 3000 sqft
                    div.details.rooms
                        h3.first.living 3 Room
                        h3.second.bathroom 2 Bathroom
                    h3 1 Parking
                div.card__footer
                    h3 5000 Taka
                    a(href="#") Details
            div.card__container
                div.card__picture
                    div.picture
                        img(src="img/rentals/rental-5ed45963b3ab3969b863f64d-1.jpeg", alt="Photo")
                div
                    div.details.location_area
                        h3.first.location Rajshahi, kajla
                        h3.second.squar 3000 sqft
                    div.details.rooms
                        h3.first.living 3 Room
                        h3.second.bathroom 2 Bathroom
                    h3 1 Parking
                div.card__footer
                    h3 5000 Taka
                    a(href="#") Details
            div.card__container
                div.card__picture
                    div.picture
                        img(src="img/rentals/rental-5ed45963b3ab3969b863f64d-1.jpeg", alt="Photo")
                div
                    div.details.location_area
                        h3.first.location Rajshahi, kajla
                        h3.second.squar 3000 sqft
                    div.details.rooms
                        h3.first.living 3 Room
                        h3.second.bathroom 2 Bathroom
                    h3 1 Parking
                div.card__footer
                    h3 5000 Taka
                    a(href="#") Details